<% if(successflash && successflash.length) {%>
<div
  class="
    alert alert-success alert-dismissible
    fade
    show
    text-center
    ml-auto
    mr-auto
  "
  style="width: 50%"
  role="alert"
>
  <%= successflash %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %> <% if(errorflash && errorflash.length) {%>
<div
  class="
    alert alert-danger alert-dismissible
    fade
    show
    text-center
    ml-auto
    mr-auto
  "
  style="width: 50%"
  role="alert"
>
  <%= errorflash %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %>
